/* utility */
.center {text-align: center;}

.col-center {
    float: none;
    margin: 0 auto;
}

.u-close-thirds {margin-left: -5px; margin-right: -5px;}
.u-close-thirds .col-sm-4 {
  padding: 0 5px;
} 

/* type */
h1 {
    font-size: 2.2em;
    margin: 1em 0 0.5em 0;
}

/* layout */
.fill-form-link a {
  color: #D0C9BD;
}

.check-label {
    font-weight: normal;
    display: inline;
}

.loader {
  padding: 2em 0;
}

#preload {width:0; height:0; overflow:hidden;}


/* theme */

body {
  background: #E4E0D9;
  color: #333;
}

.submit-button {
  background-color: #ff9901 !important;
  border-color: #E88E09 !important;
  color: #fff;
  font-size: 1.3em;
  margin: 1.5em 0;
  padding: .2em 1em;
}

.submit-button:hover, .submit-button:active:hover, .submit-button:focus {
    color: #fff;
}


/* modules */
.cb-checkbox {display: table-row;}
.cb-checkbox .control-input-wrap, .cb-checkbox .control-label {display: table-cell; text-align: left;}
.cb-checkbox .control-input-wrap {padding-right: 5px;}



/* simple animations */
.cb-fade.ng-enter {
  transition: 0.8s ease-out all;
  opacity:0;
  /*transform: translateX(2em);*/
}
.cb-fade.ng-enter.ng-enter-active {
  opacity:1;
  /*transform: translateX(0);*/
}

.cb-fade.ng-leave {
  transition:0.4s ease-out all;
  opacity:1;
  /*transform: translateX(0);*/
}
.cb-fade.ng-leave.ng-leave-active {
  opacity:0;
  /*transform: translateX(-2em);*/
}


/* angular info */
code {display: block; margin: 1em 0;}
pre {margin-bottom: 0;}