body {
  background: #D6D3CE;
  color: #333;
}

#app-container {
  min-height: 37em;
}

.center {text-align: center;}

h1 {
    margin-bottom: 1em;
}

.col-center {
    float: none;
    margin: 0 auto;
}

.submit-button {
  background-color: #ff9901 !important;
  border-color: #E88E09 !important;
  color: #fff;
  font-size: 1.3em;
  margin: 1.5em 0;
  padding: .2em 1em;
}

.submit-button:hover, .submit-button:active:hover, .submit-button:focus {
    color: #fff;
}

.check-label {
    font-weight: normal;
    display: inline;
}

.loader {
  padding: 2em 0;
}

#preload {width:0; height:0; overflow:hidden;}


/* Simple animations */
.cb-fade {
  position: absolute;
  width: 100%;
}
.cb-fade.ng-enter {
  transition: 0.8s ease-out all;
  opacity:0;
  transform: translateX(2em);
}
.cb-fade.ng-enter.ng-enter-active {
  opacity:1;
  transform: translateX(0);
}

.cb-fade.ng-leave {
  transition:0.4s ease-out all;
  opacity:1;
  transform: translateX(0);
}
.cb-fade.ng-leave.ng-leave-active {
  opacity:0;
  transform: translateX(-2em);
}


/* angular info */
code {display: block; margin: 1em 0;}
pre {margin-bottom: 0;}